.container,
.container-lg {
  width: 100% !important;
  max-width: 100% !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.container .container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.Header {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.gisthead {
  padding-left: 0 !important;
}

.gist {
  padding-right: 0 !important;
}

.gist-sidebar {
  position: relative;
  margin-left: -170px;
}

.gist-with-sidebar .gist-content {
  width: 100% !important;
  padding-right: 200px;
}

.edit.container {
  width: 100% !important;
}

/* Gist profile */
.h-card {
  padding-right: 30px !important;
}
.h-card img {
  max-width: 230px !important;
}
