.container {
  width: 100% !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

/* Repo Next layout */

.repository-content {
  width: 100% !important;
}

.repository-with-sidebar {
  padding-right: 60px !important;
}

.repository-with-sidebar .repository-sidebar {
  margin-right: -60px !important;
}

.summary-stats,
.authors-and-code {
  display: table;
  width: 100%;
}

.summary-stats li {
  width: 25%;
}

.authors-and-code .section {
  width: 50%;
}

/* Repo Next Code page */

.with-full-navigation {
  padding-right: 190px !important;
}

.with-full-navigation .repository-sidebar {
  margin-right: -190px !important;
}

/* Issues/PRs */

.discussion-sidebar {
  width: 220px !important;
}

.discussion-timeline {
  width: calc(100% - 240px) !important;
}

/* Fix #18 - props: @auscompgeek */
.file-header::after {
  clear: left !important;
}

/* New issues and Dashboard */

#dashboard,
.new-issue-form {
  position: relative !important;
}

.dashboard-sidebar,
.new-issue-form .discussion-sidebar {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

button.discussion-sidebar-toggle {
  width: 100% !important;
}

.timeline-new-comment {
  max-width: none !important;
}

/* Dashboard */
/* Note that this won't be needed if we actually flipped the DOM order around. */

.news {
  float: none !important;
  margin-right: 360px !important;
}

/* Settings */
/* This should be refactored to use our grid.scss styles anyway, thus negating these styles. */

.settings-content,
.repo-settings-content {
  float: none !important;
  width: auto !important;
  overflow: auto !important; /* required to clear the floats that the float avoided */
}
.container > .settings-content,
.repo-settings-content {
  margin-left: 260px !important;
}

#repo-settings .menu-container {
  width: 240px !important;
}

#js-flash-container .flash-messages {
  width: 100% !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

/* Profile page */

/* Profile avatar tooltip */
.u-photo .avatar {
  width: 230px !important;
}

/* Commits: extended message under "..." */
.commit-desc pre {
  max-width: none;
}

/* Insights Network Graph */
#network
{
  max-width: 730px;
}
